{% extends 'base.html' %}

{% block main %}

<div class="row">
	<div class="col">
		<h1>Menu</h1>
	</div>
</div>
<div class="row">
	<div class="col">
		<ul>
			<li><a href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
			<li><a href="{% url 'core_lista_marcas' %}">Marcas</a></li>
			<li><a href="{% url 'core_lista_veiculos' %}">Viculos</a></li>
			<li><a href="{% url 'core_lista_movrotativo' %}">Mov. Rotativo</a></li>
			<li><a href="{% url 'core_lista_mensalista' %}">Mensalistas</a></li>
			<li><a href="{% url 'core_lista_mov_mensal' %}">Mov. Mensalistas</a></li>
			<li><a href="{% url 'core_home' %}">Incio</a></li>
		</ul>
	</div>
</div>

{% endblock %}
