{% extends 'base.html' %}

{% block menu %}

	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Home</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
	    <ul class="dropdown-menu">
	      <li><a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
	      <li><a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Viculos</a></li></li>
	      <li><a class="dropdown-item" href="{% url 'core_lista_marcas' %}">Marcas</a></li>
	      <li><a class="dropdown-item" href="{% url 'core_lista_movrotativo' %}">Mov. Rotativo</a></li>
	      <li><a class="dropdown-item" href="{% url 'core_lista_mensalista' %}">Mensalistas</a></li>
	      <li><a class="dropdown-item" href="{% url 'core_lista_mov_mensal' %}">Mov. Mensalistas</a></li>
	      <li><hr class="dropdown-divider"></li>
	      <li><a class="dropdown-item" href="#">Separated link</a></li>
	    </ul>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" <a href="/admin/login/?next=/sistema/">Login</a>
	  </li>
	  {% if user.is_authenticated %}

		  <li class="nav-item disabled">
		    <a class="nav-link" href="#" aria-disabled="true">Ola, {{ user }}</a>
		  </li>
		  <li class="nav-item disabled">
		    <a class="nav-link" href="{% url 'logout' %}" aria-disabled="true">Logout</a>
		  </li>

		{% else %}

			<li class="nav-item disabled">
		    	<a class="nav-link" href="{% url 'login' %}" aria-disabled="true">Login</a>
		 	</li>

	  {% endif %}
	</ul>

{% endblock %}

{% block main %}

<div class="row">
	<div class="col">
		<h1>Seja Bem-vindo!</h1>
	</div>
</div>
<div class="row">
	<div class="col">
		<ul>
			<li><a href="{% url 'core_home' %}">Sistema</a></li>
			<li><a href="/admin/login/?next=/sistema/">Acesso</a></li>
		</ul>
	</div>
</div>

{% endblock %}
